
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>My Profile</mat-card-title>
    </mat-card-header>
    <div class="profilestyle">
    <img id="image-property" src="https://avatars3.githubusercontent.com/u/19642492?v=4" />
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">Bio:{{jsonName.name}}</mat-list-item>
            <mat-list-item role="listitem">Email:</mat-list-item>
            <mat-list-item role="listitem">Location:</mat-list-item>
            <mat-list-item role="listitem">Followers:</mat-list-item>
            <mat-list-item role="listitem">Following:</mat-list-item>
          </mat-list>   
    </mat-card-content>
</div>
  </mat-card>
  